@model List<Cart>

@{
    var currentCart = Model.First();
    var total = "$0.00";
    var title = "Cart";
}
@if (!(currentCart == null || currentCart.CartItems == null || currentCart.CartItems.Count == 0))
{
    total = currentCart.total.ToString("c2");
    title = currentCart.Name;


}
<div class="offcanvas-header">
    <div class="btn-group dropdown" style="width: 100%;">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            @currentCart.Name
        </button>
        <ul class="dropdown-menu" style="width:100%">

            @foreach (var cart in Model)
            {
                if (cart.Id == currentCart.Id)
                {
                    <li>
                        <tr>
                            <a class="dropdown-item active d-flex justify-content-lg-between" aria-current="true" onclick="switchCart(@cart.Id)">@cart.Name</a>
                        </tr>
                    </li>
                }
                else
                {
                    <li>
                        <tr>
                            <a class="dropdown-item d-flex justify-content-lg-between" onclick="switchCart(@cart.Id)">@cart.Name<img type="button" src="/delete.svg" style="width:25px;height:25px;" onclick="removeCart(@cart.Id)"></img></a>
                        </tr>
                    </li>
                }
            }
            <li><hr class="dropdown-divider"></li>
            <div class="input-group">
                <input id="newCartName" type="text" class="form-control" placeholder="Add New Cart" aria-label="Add New Cart" aria-describedby="basic-addon2" >
                <div class="input-group-append">
                    <a style="display:flex" class="btn btn-outline-secondary mx-2" id="createCart" onclick="createCart(document.getElementById('newCartName').value);" type="button">Create</a>
                </div>
            </div>

            
        </ul>
    </div>
    @*<h5 id="offcanvasRightLabel">@title</h5>*@
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <hr />
<label>
    <tr>
        <b>Total:</b>
            <span class="badge ms-1 rounded-pill" id="total">@total</span>
    </tr>
</label>

    @if (currentCart == null || currentCart.CartItems == null || currentCart.CartItems.Count == 0)
{

    <p>Cart is empty</p>
}
else
{




        @foreach (var product in currentCart.CartItems)
{
            


        <hr />
        <div class="row">
            <div class="col-3">
                <img src="@Url.Content("~/images/thumbnail/" + product.Product.Id +"/"+ product.Product.Id +"_1.webp")" alt="..." class="img-thumbnail">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <h6>@product.Product.Title</h6>
                    </div>
                    <div class="col-12">
                        <h6>@product.Product.Price.ToString("c2")</h6>
                    </div>
                    <div class="col-12">
                            <div class="d-flex align-items-center">
                                <input id="form1" min="0" name="quantity" value="@product.Quantity" type="number" class="form-control form-control-sm" onchange="setQuantityCart(@product.ProductId,this.value)">
                                <img type="button" src="/delete.svg" style="width:25px;height:25px;" onclick="removeFromCart(@product.ProductId)"></img>
                            </div>
                    </div>
                </div>
            </div>
            
        </div>
    
}   
    
}
</div>