@model List<Cart>

@{
    var currentCart = Model.First();
    var total = "$0.00";
    var title = "Cart";
}
@if (!(currentCart == null || currentCart.CartItems == null || currentCart.CartItems.Count == 0))
{
    total = currentCart.total.ToString("c2");
    title = currentCart.Name;
}
<div class="offcanvas-header">
    <div class="btn-group dropdown w-100">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            @currentCart.Name
        </button>
        <ul class="dropdown-menu w-100">
            @foreach (var cart in Model)
            {
                <li class="d-flex">
                @if (cart.Id == currentCart.Id)
                {
                        <button class="dropdown-item active d-flex justify-content-lg-between" data-switch-cart-id="@cart.Id" aria-current="true">
                            @cart.Name
                        </button>

                }
                else
                {
                        <button class="dropdown-item justify-content-lg-between" data-switch-cart-id="@cart.Id">
                            @cart.Name
                        </button>
                        <img type="button" src="/delete.svg" width=25 height=25 data-remove-cart-id="@cart.Id" alt="Delete">
                }
                </li>
            }
            <hr class="dropdown-divider">
            <form class="input-group needs-validation px-2" id="createCart" novalidate>
                <div class="form-floating">
                    <input type="text" class="form-control" id="newCartName" placeholder="Cart 123" minlength="1" maxlength="32" required>
                    <label for="newCartName">New Cart Name</label>
                </div>
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary h-100 rounded-start-0" type="submit" value="Create">
                </div>
            </form>
        </ul>
    </div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>

<div class="offcanvas-body">
    Created at: @currentCart.Added
    <hr />
    <label>
        <tr>
            <b>Total:</b>
            <span class="text" id="total">@total</span>
        </tr>
    </label>
    @if (currentCart == null || currentCart.CartItems == null || currentCart.CartItems.Count == 0)
    {
        <p>Cart is empty</p>
    }
    else
    {
        @foreach (var product in currentCart.CartItems)
        {
            <hr />
            <div class="row">
                <div class="col-3">
                    <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId" class="text-decoration-none form-text">
                        <img src="@Url.Content("~/images/" + product.ProductId +"_1-512w.webp")" alt="Product Image" class="img-thumbnail bg-primary">
                    </a>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12">
                            <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId" class="text-decoration-none form-text">
                                <h6>@product.Product.Title</h6>
                            </a>
                        </div>
                        <div class="col-12">
                            <h6>@product.Product.Price.ToString("c2")</h6>
                        </div>
                        <div class="col-12">
                            <div class="d-flex align-items-center">
                                <input min="0" name="quantity" value="@product.Quantity" type="number" class="form-control form-control-sm" data-set-item-quantity-id="@product.ProductId">
                                <img type="button" src="/delete.svg" width=25 height=25 data-remove-from-cart-id="@product.ProductId" alt="Delete">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>



