@model Cart
@{var total = "$0.00";
var title = "Cart";}
@if (!(Model == null || Model.CartItems == null || Model.CartItems.Count == 0))
{
    total = Model.total.ToString("c2");
    title = Model.Name;


}
<div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">@title</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">

<label>
    <tr>
        <b>Total:</b>
            <span class="badge ms-1 bg-secondary rounded-pill" id="total">@total</span>
    </tr>
</label>

@if(Model==null ||Model.CartItems ==null || Model.CartItems.Count == 0)
{

    <p>Cart is empty</p>
}
else
{
   



@foreach (var product in Model.CartItems)
{
            


        <hr />
        <div class="row">
            <div class="col-3">
                <img src="@Url.Content("~/images/thumbnail/" + product.Product.Id +"/"+ product.Product.Id +"_1.webp")" alt="..." class="img-thumbnail">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <h6>@product.Product.Title</h6>
                    </div>
                    <div class="col-12">
                        <h6>@product.Product.Price.ToString("c2")</h6>
                    </div>
                    <div class="col-12">
                            <div class="d-flex align-items-center">
                                <input id="form1" min="0" name="quantity" value="@product.Quantity" type="number" class="form-control form-control-sm" onchange="setQuantityCart(@product.ProductId,this.value)">
                                <img type="button" src="/delete.svg" style="width:25px;height:25px;" onclick="removeFromCart(@product.ProductId)"></img>
                            </div>
                    </div>
                </div>
            </div>
            
        </div>
    
}   
    
}
</div>